<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
       Welcome at the  Code Cool applicant and mentors page
    </h1>
    <h3>
        Use the list below to get more information
    </h3>
    <ul>
        <li><a href="/mentors"> Mentors and schools page </a></li>
        <li><a href="/all-school">All school page</a></li>
        <li><a href="/mentors-by-country">Mentors page,by country </a></li>
        <li><a href="/contacts">Contacts page</a></li>
        <li><a href="/applicants">Applicants page</a></li>
        <li><a href="/applicants-and-mentors">Applicants and mentors page</a></li>
    </ul>
</body>
</html>